$AJ :/or:r(n of) { backgrownd: blue;

     t: ikground;

$x:&;

fto {
  a: $x;
}bleh: b&t s we are far ins}
>
c, d {c {
  blah: 
  d e=h;
  bleh: b&&nd;

$x: 1 aaao;
 aAkground:F=kground;

$x: 12y;
}

$y: akground;

$x:&;

foo {
  a: $x;
}bleh: b&&nd;

$x: 1 kground;

$x:&;

foo {
  a: $x;
}bleh: b&&nd;

$x: 1 aaao;
 ackground:F=kground;

$x: 1 y;
}

$y: akground;

$x:&;

foo {
  a: $x;
}